---
BasedOnStyle: GNU

# Indentation
IndentWidth: 2
TabWidth: 2
UseTab: Never
IndentCaseLabels: false

# Braces
BreakBeforeBraces: GNU

# Line length
ColumnLimit: 79

# Spacing
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false

# Alignment
AlignConsecutiveAssignments: false
AlignTrailingComments: true

# Includes
SortIncludes: true

# Other
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
